body { 
   background-color: #2b2b2b; 
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; 
    padding: 0; 
    line-height: 1.6; 
}

header { 
    background-color: #2b2b2b; 
    color: whitesmoke; 
    text-align: center; 
    padding: 20px;
    margin: 0;
    text-transform: uppercase; 
    letter-spacing: 2px;
} 


footer {
    background-color: #2b2b2b;
    color: whitesmoke; 
    padding: 20px;
    text-align: center; 
}

main { 
    padding: 40px; 
    background-color: whitesmoke;
    max-width: 900px; 
    margin: -20px auto 40px; /* Nosto ylöspäin (-50px), jotta menee bannerin/headerin päälle */
     
    
}

section { 
    margin-bottom: 50px; 
} 

h1 {
    margin: 0;
    text-transform: uppercase; 
    letter-spacing: 2px;
}

h2 { 
    border-bottom:  3px solid #ff7b00; 
    padding-bottom: 5px; 
    margin-bottom: 20px;
    color: #2b2b2b;
}

.banneri {
    display: block;
    width: 100%;
    height: 300px; 
    object-fit: cover;
    padding-bottom: 0px;
    

}

.profiili {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow:3px 5px 15px rgba(0,1,0.6,0.6);
    
}

.capoeira {
    
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0.6,0.6,0.6);
}

.profiili:hover, .capoeira:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0,0,0,0.3); 
}

